# Projeto - Análise de Notas de Filmes MovieLens

## Objetivo

Você atua no departamento de análise de dados em um Estúdio de Gravações Cinematográficas. O time de gestores(as) precisa de algumas informações sobre os votos do público a cerca dos últimos filmes. Existe uma pressão dos acionistas para que os próximos lançamentos tenham notas altas e uma aceitação grande pelo público geral.

Assim, com base nos registros disponibilizados, você terá que responder as seguintes perguntas:

**Perguntas**

    1. Quantos filmes por gênero estamos incluindo nesse levantamento?
    2. Quais são os títulos com maiores notas de avaliação pelo público?
    3. Qual a média de votos por filme?
    4. 20% dos filmes possuem nota superior a qual valor?
    5. Quantos filmes por gênero estamos incluindo nesse levantamento?
    6. Qual a popularidade dos filmes, considerando como regra o número de votos dividido pelo número de filmes?
    7. Quais os gêneros mais indicados para investir, considerando a audiência? Se olhar as notas, ainda seriam esses os filmes?

In [1]:
import pandas as pd

In [5]:
URL_FILMES = 'https://raw.githubusercontent.com/alura-cursos/formacao-data-science/master/movies.csv'
URL_NOTAS = 'https://raw.githubusercontent.com/alura-cursos/formacao-data-science/master/ratings.csv'

In [6]:
filmes = pd.read_csv(URL_FILMES)

In [7]:
filmes.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
notas = pd.read_csv(URL_NOTAS)

In [9]:
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Pergunta: gere uma nova feature, a média dos votos por filme
crie uma nova coluna chamada nota_media dentro do dataframe filmes
Dicas:

como filmeId já é o indice de seu dataframe filmes, se você possui uma série com o número de votos por filme, basta atribuir uma nova coluna normalmente que será usado o mesmo índice

Pergunta: remova os filmes com menos de 50 avaliações
conte o número de notas por filme
adicione uma coluna nova chamada total_de_votos a filmes que representa o número de avaliações que aquele filme teve no conjunto de dados
remova os que tem 49 ou menos de filmes

Pergunta: 20% dos filmes do dataframe tem nota maior que?


visualização de quantos filmes existem por genero
Para cada um dos generos você deve agrupar o número de filmes
Ordene as barras, na esquerda o genero com mais filmes, na direita o que tem menos filmes

Quais são os 5 generos com mais filmes?