#Ex01

Crie uma lista de 3 elementos e calcule a terceira potência de cada elemento.

In [ ]:
list1 = [3,4,5]

In [ ]:
list2 = [ item ** 3 for item in list1 ]
print(list2)

[27, 64, 125]

#Ex02

Reescreva o código abaixo, usando a função map(). O resultado final deve ser o mesmo!

In [ ]:
palavras = 'Minha terra tem palmeiras onde canta o Sabiá, As aves, que aqui gorjeiam, Não gorjeiam como lá.'.split()

resultado = [[w.upper(), w.lower(), len(w)] for w in palavras]

for i in resultado:
    print (i)

['MINHA', 'minha', 5]
['TERRA', 'terra', 5]
['TEM', 'tem', 3]
['PALMEIRAS', 'palmeiras', 9]
['ONDE', 'onde', 4]
['CANTA', 'canta', 5]
['O', 'o', 1]
['SABIÁ,', 'sabiá,', 6]
['AS', 'as', 2]
['AVES,', 'aves,', 5]
['QUE', 'que', 3]
['AQUI', 'aqui', 4]
['GORJEIAM,', 'gorjeiam,', 9]
['NÃO', 'não', 3]
['GORJEIAM', 'gorjeiam', 8]
['COMO', 'como', 4]
['LÁ.', 'lá.', 3]

In [ ]:
resultado = map( lambda w : [w.upper(), w.lower(), len(w)], palavras )
for i in resultado:
  print(i)

['MINHA', 'minha', 5]
['TERRA', 'terra', 5]
['TEM', 'tem', 3]
['PALMEIRAS', 'palmeiras', 9]
['ONDE', 'onde', 4]
['CANTA', 'canta', 5]
['O', 'o', 1]
['SABIÁ,', 'sabiá,', 6]
['AS', 'as', 2]
['AVES,', 'aves,', 5]
['QUE', 'que', 3]
['AQUI', 'aqui', 4]
['GORJEIAM,', 'gorjeiam,', 9]
['NÃO', 'não', 3]
['GORJEIAM', 'gorjeiam', 8]
['COMO', 'como', 4]
['LÁ.', 'lá.', 3]

In [ ]:
palavras = 'Minha terra tem palmeiras onde canta o Sabiá, As aves, que aqui gorjeiam, Não gorjeiam como lá.'.split()

In [ ]:
type(palavras)

list

#Ex03
Crie duas funções, uma para elevar um número ao quadrado e outra para elevar ao cubo. 
Aplique as duas funções aos elementos da lista abaixo. 

Obs: as duas funções devem ser aplicadas simultaneamente.

In [ ]:
lista = [0, 1, 2, 3, 4]

In [ ]:
# funcao para quadrado de um nro qq
def aoquadrado(x):
  return (x**2)


# funcao para o cubo de um nro qq
def aocubo(x):
  return (x**3)

In [ ]:
# variavel do tipo lista, que vai receber o nome das funcoes que queremos executar
funcs = [aoquadrado, aocubo]

# iterando sobre a minha lista de valores 
for item in lista: #pegando cada item
  valor = map(lambda y: y(item), funcs) #e atribuindo para funcao map
                                        #o map recebe uma funcao lambda que vai r
                                        # ealizar a iteracao sobre a lista de funcoes,
                                        #executando as operações que temos
  print(list(valor)) #converto os valores para o tipo lista e faço a impressao

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]

#Ex04
Usando a função filter(), encontre os valores que são comuns às duas listas abaixo.

In [ ]:
a = [1,2,3,5,7,9]
b = [2,3,5,6,7,8]

In [ ]:
print(list(filter(lambda x: x in a, b)))

[2, 3, 5, 7]

#Ex05

Considere os dois dicionários abaixo. 
Crie um terceiro dicionário com as chaves do dicionário 1 e os valores do dicionário 2.

In [ ]:
dict1 = {'a':1,'b':2}
dict2 = {'c':4,'d':5}

In [ ]:
dict1.values()

dict_values([1, 2])

In [ ]:
?zip

In [ ]:
def troca_itens(d1, d2):
  dict_temp = {}

  for x, y in zip(d1,d2.values()):
    dict_temp[x] = y

  return dict_temp

In [ ]:
dicionario = troca_itens(dict1, dict2)
print(dicionario)

{'a': 4, 'b': 5}

#Ex06

Considere a lista abaixo e retorne apenas os elementos cujo índice for maior que 5.

In [ ]:
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
?enumerate

In [ ]:
for indice, valor in enumerate(lista):
  if indice <=5:
    continue
  else:
    print(valor)

g
h