In [1]:
import pandas as pd

In [2]:
df_POA = pd.read_csv('POAvoos08_11_2021.csv', sep=';')

In [3]:
df_POA.columns

Index(['transaction_datetime', 'transaction_workstation', 'transaction_date',
       'transaction_class', 'transaction_airline', 'transaction_flightnumber',
       'transaction_seat', 'transaction_from', 'transaction_to',
       'transaction_status', 'transaction_crossed_on'],
      dtype='object')

In [4]:
df_FOR = pd.read_csv('FORvoos 08_11_2021.csv', sep=';')

In [5]:
df_FOR.columns

Index(['transaction_datetime', 'transaction_workstation', 'transaction_date',
       'transaction_class', 'transaction_airline', 'transaction_flightnumber',
       'transaction_seat', 'transaction_from', 'transaction_to',
       'transaction_status', 'transaction_crossed_on'],
      dtype='object')

In [10]:
df_voos = pd.concat([df_POA, df_FOR])

In [11]:
df_voos['m'] = df_voos['transaction_date'].apply(lambda x : x.split('/')[0])
df_voos['d'] = df_voos['transaction_date'].apply(lambda x : x.split('/')[1])
df_voos['a'] = df_voos['transaction_date'].apply(lambda x : x.split('/')[2])

In [14]:
partidas = df_voos[['transaction_date', 'transaction_flightnumber', 'transaction_from', 'd','m','a' ]]

In [15]:
partidas

,transaction_date,transaction_flightnumber,transaction_from,d,m,a
0,08/01/2021,1213,POA,01,08,2021
1,08/01/2021,1213,POA,01,08,2021
2,08/01/2021,1213,POA,01,08,2021
3,08/01/2021,4030,POA,01,08,2021
4,08/01/2021,1213,POA,01,08,2021
...,...,...,...,...,...,...
795678,12/01/2021,4247,FOR,01,12,2021
795679,12/01/2021,4745,FOR,01,12,2021
795680,12/01/2021,4745,FOR,01,12,2021
795681,12/01/2021,4745,FOR,01,12,2021
795682,12/01/2021,4745,FOR,01,12,2021

In [16]:
partidas.drop_duplicates(inplace=True)

/home/valli/anaconda3/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [17]:
partidas.head()

   transaction_date  transaction_flightnumber transaction_from   d   m     a
0        08/01/2021                      1213              POA  01  08  2021
3        08/01/2021                      4030              POA  01  08  2021
6        08/01/2021                      4651              POA  01  08  2021
17       08/01/2021                      3274              POA  01  08  2021
20       08/01/2021                      4514              POA  01  08  2021

In [29]:
partidas[partidas['m'] == 1]

Empty DataFrame
Columns: [transaction_date, transaction_flightnumber, transaction_from, d, m, a]
Index: []

In [ ]:
partidas['transaction_flightnumber'].count()

In [18]:
partidas.groupby(by=['m','d', 'transaction_from']).count()

                        transaction_date  transaction_flightnumber   a
m  d  transaction_from
01 02 FOR                              1                         1   1
   03 FOR                             29                        29  29
   04 FOR                             53                        53  53
   05 FOR                             51                        51  51
   06 FOR                             53                        53  53
...                                  ...                       ...  ..
9  28 POA                             65                        65  65
   29 FOR                             40                        40  40
      POA                             66                        66  66
   30 FOR                             41                        41  41
      POA                             65                        65  65

[280 rows x 3 columns]