In [1]:
import pandas as pd
import numpy as np

np.random.seed(12345)

In [2]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['um', 'dois', 'um', 'dois', 'um'],
                   'dados1': np.random.randn(5),
                   'dados2': np.random.randn(5)})

In [3]:
df

  key1  key2    dados1    dados2
0    a    um -0.204708  1.393406
1    a  dois  0.478943  0.092908
2    b    um -0.519439  0.281746
3    b  dois -0.555730  0.769023
4    a    um  1.965781  1.246435

In [5]:
df_agg = df['dados1'].groupby(df['key1'])

In [6]:
df_agg

In [7]:
print(df_agg)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7f922b0600d0>

In [8]:
df_agg.mean()

key1
a    0.746672
b   -0.537585
Name: dados1, dtype: float64

In [10]:
media = df['dados1'].groupby([df['key1'],df['key2']]).mean()

In [11]:
type(media)

pandas.core.series.Series

In [12]:
media

key1  key2
a     dois    0.478943
      um      0.880536
b     dois   -0.555730
      um     -0.519439
Name: dados1, dtype: float64

In [13]:
media.unstack()

key2      dois        um
key1
a     0.478943  0.880536
b    -0.555730 -0.519439

In [15]:
media_unstack = media.unstack()

In [17]:
type(media_unstack)

pandas.core.frame.DataFrame

In [20]:
estados = np.array(['RS', 'RJ', 'RJ','RS', 'RS'])
anos = np.array([2006,2006,2010,2006,2010])

In [22]:
df['dados1'].groupby([estados, anos]).mean()

RJ  2006    0.478943
    2010   -0.519439
RS  2006   -0.380219
    2010    1.965781
Name: dados1, dtype: float64

In [23]:
df

  key1  key2    dados1    dados2
0    a    um -0.204708  1.393406
1    a  dois  0.478943  0.092908
2    b    um -0.519439  0.281746
3    b  dois -0.555730  0.769023
4    a    um  1.965781  1.246435

In [24]:
df.groupby('key1').mean()

        dados1    dados2
key1
a     0.746672  0.910916
b    -0.537585  0.525384

In [27]:
a = df.groupby(['key1','key2']).size()

In [28]:
type(a)

pandas.core.series.Series

In [29]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1  key2    dados1    dados2
0    a    um -0.204708  1.393406
1    a  dois  0.478943  0.092908
4    a    um  1.965781  1.246435
b
  key1  key2    dados1    dados2
2    b    um -0.519439  0.281746
3    b  dois -0.555730  0.769023

In [30]:
for (chave1, chave2), group in df.groupby(['key1', 'key2']):
    print((chave1, chave2))
    print(group)

('a', 'dois')
  key1  key2    dados1    dados2
1    a  dois  0.478943  0.092908
('a', 'um')
  key1 key2    dados1    dados2
0    a   um -0.204708  1.393406
4    a   um  1.965781  1.246435
('b', 'dois')
  key1  key2   dados1    dados2
3    b  dois -0.55573  0.769023
('b', 'um')
  key1 key2    dados1    dados2
2    b   um -0.519439  0.281746

In [31]:
df.dtypes

key1       object
key2       object
dados1    float64
dados2    float64
dtype: object

In [32]:
df

  key1  key2    dados1    dados2
0    a    um -0.204708  1.393406
1    a  dois  0.478943  0.092908
2    b    um -0.519439  0.281746
3    b  dois -0.555730  0.769023
4    a    um  1.965781  1.246435

In [34]:
agg_tipo = df.groupby(df.dtypes, axis=1)

In [36]:
for tipo, grupo in agg_tipo:
    print(tipo)
    print(grupo)

float64
     dados1    dados2
0 -0.204708  1.393406
1  0.478943  0.092908
2 -0.519439  0.281746
3 -0.555730  0.769023
4  1.965781  1.246435
object
  key1  key2
0    a    um
1    a  dois
2    b    um
3    b  dois
4    a    um

In [44]:
df.groupby(['key1', 'key2'])[['dados1','dados2']].median()

             dados1    dados2
key1 key2
a    dois  0.478943  0.092908
     um    0.880536  1.319920
b    dois -0.555730  0.769023
     um   -0.519439  0.281746

In [45]:
tips = pd.read_csv('dados/tips.csv', sep=',')

In [48]:
tips['tip_perc'] = tips['tip'] / tips['total_bill']

In [49]:
tips

     total_bill   tip smoker   day    time  size  tip_perc
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
239       29.03  5.92     No   Sat  Dinner     3  0.203927
240       27.18  2.00    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[244 rows x 7 columns]

In [50]:
agg_tips = tips.groupby(['day', 'smoker'])

In [53]:
agg_tips['tip_perc'].mean()

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_perc, dtype: float64

In [54]:
agg_tips.agg({'tip_perc': 'mean',
              'size'    : 'sum'})

             tip_perc  size
day  smoker
Fri  No      0.151650     9
     Yes     0.174783    31
Sat  No      0.158048   115
     Yes     0.147906   104
Sun  No      0.160113   167
     Yes     0.187250    49
Thur No      0.160298   112
     Yes     0.163863    40