# Exercícios - Salarios de São Francisco

Bem-vindo a um exercício rápido para você praticar suas habilidades de pandas! Vamos usar o [Dataset SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) da Kaggle! Basta acompanhar e completar as tarefas descritas em negrito abaixo. As tarefas se tornarão cada vez mais difíceis.

Nesse [link](https://drive.google.com/file/d/1c8sAAHlVKZOOvCX99-DL24nNBLLQsATr/view?usp=sharing) também pode ser baixado.

**Importe o pandas como pd.**

In [8]:
import pandas as pd

**Leia o arquivo Salaries.csv como um DataFrame chamado "sal".**

In [9]:
sal = pd.read_csv('dados/Salaries.csv')

**Verifique as primeiras 5 linhas do DataFrame.**

In [10]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use o método que auxilia para descobrir quantas entradas existem, bem como das informações complementares de tipo de dados.**

In [11]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Qual é o "BasePay" médio?**

In [7]:
basepaymean = round(sal['BasePay'].mean(),2)
print(f'O basepy médio é de $ { basepaymean }')

O basepy médio é de $ 66325.45

**Qual é a maior quantidade de "OvertimePay" no conjunto de dados?**

In [13]:
sal['OvertimePay'].max()

245131.88

**Qual é o cargo de JOSEPH DRISCOLL? Nota: use todas as maiúsculas, caso contrário você pode obter uma resposta que não coincida (há também um Joseph Driscoll com minúsculas).**

In [15]:
sal[ sal['EmployeeName'] == 'JOSEPH DRISCOLL' ]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [16]:
# Resolucao do colega Tacito
print(sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL',['JobTitle']])

                     JobTitle
24  CAPTAIN, FIRE SUPPRESSION

**Quanto JOSEPH DRISCOLL ganha (incluindo benefícios)?**

In [17]:
sal[ sal['EmployeeName'] == 'JOSEPH DRISCOLL' ]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**Qual o nome da pessoa mais bem paga (incluindo benefícios)?**

In [18]:
sal['TotalPayBenefits'].max()

567595.43

In [21]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [22]:
#Outra forma: usamos o idxmax, que retorna o indice do maior valor

sal.loc[ sal['TotalPayBenefits'].idxmax() ]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

**Qual o nome da pessoa paga mais baixa (incluindo benefícios)? Você percebe algo estranho sobre o quanto ele ou ela é paga?**

In [23]:
sal.loc[ sal['TotalPayBenefits'].idxmin() ]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

**Qual foi a média (média) BasePay de todos os funcionários por ano? (2011-2014)?**

In [26]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [29]:
# Resolucao do colega Tacito + Plus do agg
print(sal.groupby(by=['Year']).agg({'BasePay': 'mean', 'EmployeeName': 'count'}))

           BasePay  EmployeeName
Year
2011  63595.956517         36159
2012  65436.406857         36766
2013  69630.030216         37606
2014  66564.421924         38123

**Quantos títulos de trabalho únicos existem?**

In [30]:
sal['JobTitle'].nunique()

2159

**Quais são os 5 principais empregos mais comuns?**

In [32]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**Quantos Títulos de Trabalho foram representados por apenas uma pessoa em 2013? (Por exemplo, títulos de trabalho com apenas uma ocorrência em 2013?)**

In [36]:
trabalhou_2013 = sal[ sal['Year'] == 2013 ]

In [39]:
sum(trabalhou_2013['JobTitle'].value_counts() == 1)

202

**Quantas pessoas têm a palavra Chefe em seu cargo? (Isso é bastante complicado)**

In [41]:
#chief é o nome do cargo que a gente quer
def acha_chefe(nome):
    return 'chief' in nome.lower()

In [43]:
sum(sal['JobTitle'].apply(lambda x : acha_chefe(x)))

627

**Bônus: Existe uma correlação entre o comprimento da seqüência do título do trabalho e o salário?**

In [44]:
sal['tam_titulo_cargo'] = sal['JobTitle'].apply(len)
sal['tam_titulo_cargo']

0         46
1         31
2         31
3         36
4         44
          ..
148649     9
148650    12
148651    12
148652    12
148653    26
Name: tam_titulo_cargo, Length: 148654, dtype: int64

In [45]:
sal[ ['TotalPayBenefits', 'tam_titulo_cargo'] ].corr()

                  TotalPayBenefits  tam_titulo_cargo
TotalPayBenefits          1.000000         -0.036878
tam_titulo_cargo         -0.036878          1.000000