In [1]:
import pandas as pd
import numpy as np

In [2]:
lista = [1,2,3,4]

In [3]:
serie_dados = pd.Series(lista)

In [4]:
type(serie_dados)

pandas.core.series.Series

In [10]:
serie_dados.mean()

2.5

In [20]:
serie_dados.iloc[0

0    1
1    2
2    3
3    4
dtype: int64

In [21]:
dados = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [22]:
dados

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [23]:
conjunto_dados = pd.DataFrame(dados, columns=['a', 'b', 'c'])

In [24]:
type(conjunto_dados)

pandas.core.frame.DataFrame

In [39]:
novo_indice = 'D E F'.split()

In [40]:
novo_indice

['D', 'E', 'F']

In [43]:
conjunto_dados['nova_coluna'] = novo_indice

In [48]:
conjunto_dados.set_index(index)

NameError: name 'index' is not defined

In [54]:
conjunto_dados.reset_index(inplace=True)

In [58]:
conjunto_dados.set_index('nova_coluna', inplace=True)

In [59]:
conjunto_dados

             index  a  b  c
nova_coluna
D                0  1  2  3
E                1  4  5  6
F                2  7  8  9

In [62]:
conjunto_dados.loc[['D','E'], ['a','b']]

             a  b
nova_coluna
D            1  2
E            4  5